body {
  background: no-repeat top;
  background-size: cover;
  background-image: url('/background--dashboard.png');
}

.content{
  height: calc(100vh - 150px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
}